name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Build IG with Publisher
        run: |
          docker run --rm \
            -v $PWD:/workspace \
            -w /workspace \
            hl7fhir/ig-publisher-base:latest \
            bash -c "
              chmod +x ./_updatePublisher.sh ./_genonce.sh &&
              ./_updatePublisher.sh --yes --force &&
              ./_genonce.sh
            "
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: success()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output