name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      
      - name: Set up Node.js (for SUSHI)
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      
      - name: Install SUSHI
        run: npm install -g fsh-sushi
      
      - name: Make scripts executable
        run: |
          chmod +x ./_updatePublisher.sh
          chmod +x ./_genonce.sh
      
      - name: Update Publisher
        run: ./_updatePublisher.sh --force
      
      - name: Run SUSHI
        run: sushi .
      
      - name: Run IG Publisher
        run: ./_genonce.sh -no-sushi
        env:
          JAVA_TOOL_OPTIONS: -Xmx4g
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: success()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
