name: CI

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2

      - name: Prepare input-cache folder
        run: |
          mkdir -p $PWD/input-cache
          chmod -R 777 $PWD/input-cache
      
      - name: Build IG with Publisher
        run: |
          docker run --rm \
            -v $PWD:/workspace \
            -w /workspace \
            hl7fhir/ig-publisher-base:latest \
            bash -c "
              chmod +x ./_updatePublisher.sh &&
              ./_updatePublisher.sh --force &&
              sushi . &&
              chmod +x ./_genonce.sh &&
              ./_genonce.sh -no-sushi
            "
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: success()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
